body {
  margin: 0px;
  width: 100%;
}

.content {
  margin: auto;
  width: 1400px;
  margin-top: 25px;
}

.main-text {
  text-align: center;
}

.yellow {
  font-size: 48px;
  line-height: 70px;
  color: #e8c23e;
}

.blue {
  font-size: 48px;
  line-height: 70px;
  color: #3e45e8;
}

.top-content {
  height: 743px;
  background-image: url(./img4/1444411287_oboyi-na-robochiy-stl-ukrayina-8\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.flag {
  height: 290px;
  width: 23px;
  padding-top: 239px;
  padding-left: 80px;
}

.top-text {
  height: 300px;
  width: 1000px;
  display: inline-block;
  padding-top: 90px;
  padding-left: 48px;
  display: inline-block;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 157.3%;
  color: #ffffff;
}

.midle-text {
  margin-top: 48px;
  padding-left: 50px;
  margin-bottom: 0px;
  display: block;
  font-family: Inika;
  font-size: 40px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
}

.flag2 {
  display: inline-block;
  margin-right: 20px;
  width: 140px;
}

.cards {
  min-width: 992px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 42px;
}

.card {
  width: 385px;
  height: 481px;
  display: inline-block;
  width: 30%;
  border: 5px solid #0d095f;
  min-height: 345px;
  vertical-align: top;
  border-radius: 34px;
  box-shadow: 2px 0px 20px 0px #0acbfc;
}

.card2 {
  width: 385px;
  height: 481px;
  display: inline-block;
  width: 30%;
  border: 5px solid #0d095f;
  min-height: 345px;
  vertical-align: top;
  margin: 0 3%;
  border-radius: 34px;
  box-shadow: 0px 2px 20px 0px #0acbfc;
}

.card_img > img {
  width: 100%;
}

.card-title {
  padding-top: 17px;
  padding-left: 10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #0072db;
}

:root {
  --color-blue: #ff9900;
}

.card-desription {
  font-size: 24px;
  padding-top: 18px;
  font-size: 214x;
  padding-left: 10px;
  color: var(--color-blue);
}
/* bot */
.main-bot {
  text-align: center;
  margin-top: 45px;
}

.bot-top {
  font-family: Inika;
  font-size: 40px;
  font-weight: 700;
  line-height: 63px;
  text-align: center;
}

.border {
  margin-left: 390px;
  display: block;
  width: 620px;
  border: 3px solid #1400ff;
}

.ukraine {
  margin-top: 35px;
}

.but {
  border-radius: 50px;
  background-color: #2a61f0;
  width: 500px;
  height: 80px;
}

.but-text {
  display: block;
  margin: auto;
  font-weight: 700;
  line-height: 0px;
  font-size: 64px;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
}

.dno {
  color: #a89d9d;
  margin-top: 32px;
  background-image: url(./img4/подвал.png);
}

.bot-text {
  margin: auto;
  margin-top: 0px;
  font-size: 40px;
  display: inline-block;
}

.bot-text2 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bot-text3 {
  text-decoration: none;
  display: block;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #a89d9d;
  font-family: "Marcellus SC";
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.1em;
  text-align: center;
}

.bot-img {
  justify-content: space-between;
  padding-left: 610px;
  display: flex;
  width: 200px;
}
